---
mysql:
  MYSQL_HOST: localhost       # スレーブサーバのホスト
  MYSQL_USER: user            # ユーザ名
  MYSQL_PASSWORD: password    # パスワード
wait:
  SWITCH_WAIT: 3              # マスタを切り替えた後に待つ秒数
  CONNECTING_WAIT: 1          # マスタへの接続待ちになったときに待つ秒数
  CATCHUP_WAIT: 1             # Seconds_Behind_Master が 0 でないときに待つ秒数
  MASTER_POS_WAIT: 10         # MASTER_POS_WAIT の 待つ秒数
  RESTART_IO_THREAD_WAIT: 3   # IO_THREAD 待ちでロックした際の、 IO_THREAD を動かす秒数
